body {
    background-color: white;
    height: 100vh;
}

.music-player {
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    width: 300px;
    text-align: center;
}

img {
    width: 100%;
    height: 200px;
    border-radius: 10px;

}

.track {
    margin: 10px;
}

.track h2 {
    font-size: 18px;
    color: white;
}